html, body {
    padding:0; 
    margin:0; 
    height:100%;
    padding-top: 26px; 

}


a {
    color: black; 
    text-decoration: none;
}


.breadcrumb
{
    background-color: #653757;
}

#carousel1
{
    margin-top: -20px;
}

/*.breadcrumb, a*/
/*{*/
    /*color: white;*/
/*}*/

.jumbotron
{
    background-color: #c9c9c9;

}

.navbar-brand>img {
 padding: 7px 15px;
}

.navbar-default {
    background-color: #c6aa92;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.navbar-default .navbar-brand {
    color: #000000;
    font-size: 35px ;
    font-family: 'Parisienne', cursive;
    
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.fa {
    font-size: 15px;
}


.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #c6aa92;
    border-color: #3db5d8;
}

img {
    max-width: 80%;
    max-height: 80%;
}



/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 45px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;   
        border-right: 1px solid #eee;
        
    }
}

.sidebar {
    background-color: #c6aa92;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}


.footer {
    background-color: #c6aa92;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

