{% extends "AmiDanseBundle::base.html.twig" %}
{% block content %}

<div class = "container">
<h2>Code erreur 404 (La page demandée n'existe pas)</h2>

<img src="{{ asset('bundles/amidanse/img/error/calimero.png') }}" class="img-responsive center-block">
</div>
{% endblock content %}