{% extends "AmiDanseBundle::base.html.twig" %}


{% block title %}
    Planning
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Planning salle 1</h2s>
                </div>
                <div> 
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ovqs3607lbq3u5uie326h1q558%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=Europe%2FParis" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>  
                </div>
              
            </div>
        </div>
    </div>
{% endblock content %}