<footer class="footer ">
    <div class="container">
     

    <a href="{{ path ('amidanse_mentions')}}">Mentions légales &nbsp |<span class="sr-only"></span></a> 

     <a href="{{ path ('amidanse_map')}}">  &nbsp Plan du site<span class="sr-only"></span></a> 
 
        
    </div>
</footer>


