<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">


      </button>
      <a class="navbar-brand" href="{{ path('amidanse_homepage') }}">Ami'danse</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="{{ path('amidanse_homepage') }}">Accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ path('amidanse_style_index') }}">Danses</a></li>

        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Plannings<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

          <li><a href="{{ path('amidanse_planning_s1') }}"> Salle 1 &nbsp;</a></li>
          <li><a href="{{ path('amidanse_planning_s2') }}"> Salle 2 &nbsp;</a></li>
          <li><a href="{{ path('amidanse_planning_s3') }}"> Salle 3 &nbsp;</a></li>
          <li><a href="{{ path('amidanse_planning_s4') }}"> Salle 4 &nbsp;</a></li>

        </ul>
        </li>

        <li><a href="{{ path('amidanse_event_index') }}">&Eacutevènements</a></li>
        {#<li><a href="{{ path('amidanse_stage_index') }}">Stages</a></li>#}
        <li><a href="{{ path('amidanse_demonstration_index') }}">Spectacles</a></li>
        <li><a href="{{ path('amidanse_contact') }}">Contact</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><i class="fa fa-facebook-official fa-3" aria-hidden="true"></i></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-3" aria-hidden="true"></i></a></li>
        


        {% if app.user %}


        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Profil<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><a href="{{ path('amidanse_dancer_profile') }}"> {{ app.user.name }} &nbsp; <i class="fa fa-user" aria-hidden="true"></i></a></li>

          {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" or "ROLE_ADMIN"%}

          <li><a href="{{ path('amidanse_admin_dashboard') }}">Administration &nbsp; <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i></a></li>

          {% endif %}

            <li class="divider"></li>

            <li><a href="{{ path('logout') }}">Déconnexion &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
          </ul>
        </li>
        <li><a href="{{ path('amidanse_dancer_profile') }}" ></a></li>
      
      
      <!-- user is logged in -->
        {% else %}
       <!-- user is not logged in -->
          <li><a href="{{ path('amidanse_login') }}" >Connexion </a></li>
          <li><a href="{{ path('amidanse_register') }}">Enregistrement </a></li>
       
          
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>