{% extends "AmiDanseBundle:Admin:base.html.twig" %}
{% block content %}
    <div class="container">
        <h1>Liste des Démonstrations</h1>
        <br/>
        {% for demonstration in demonstrations %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_demonstration_show', { 'id': demonstration.id }) }}">
                       {{ demonstration.name ~ ' / ' ~(demonstration.date|date("m/d/Y")) ~ ' / ' ~ (demonstration.startTime|date('H:i:s')) ~ ' / ' ~ demonstration.location }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_demonstration_new') }}" class="btn btn-sm btn-success">
                    Ajouter une démonstration
                </a>
            </li>
        </ul>
    </div>
{% endblock %}