{% extends 'AmiDanseBundle::base.html.twig' %}
{% block content %}
    <h1>Evènements</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ demonstration.id }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ demonstration.name }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ demonstration.date | date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ demonstration.startTime | date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td>{{ demonstration.location }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ demonstration.description }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_demonstration_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_demonstration_edit', { 'id': demonstration.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}