<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ami'danse</title>


    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <!-- Custom styles -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->




      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link href="{{ asset('bundles/amidanse/style/style.css') }}" rel="stylesheet" />
      {% endblock %}

  </head>

  <body>
{% include "AmiDanseBundle:Layout:navbar.html.twig" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include 'AmiDanseBundle:Admin/Layout:sidebar.html.twig' %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                {% block content %}{% endblock content %}

            </div>
        </div>
    </div>



    {% block javascripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('bundles/amidanse/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    {% endblock %}

</body>


</html>
