{% extends 'AmiDanseBundle:Admin:base.html.twig' %}

{% block content %}
    <h1>Modification des danseurs</h1>
    <hr>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_dancer_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}