{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des Danseurs</h1>
        <br/>
        {% for dancer in dancers %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_dancer_show', { 'id': dancer.id }) }}">
                        {{ dancer.firstname ~ ' ' ~ dancer.name ~ ' / ' ~ dancer.email ~ ' / ' ~ dancer.status }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_dancer_new') }}" class="btn btn-sm btn-success">
                    Ajouter un danseur
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



