{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <h1>Danseur</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ dancer.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ dancer.name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ dancer.firstname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ dancer.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ dancer.password }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ dancer.status }}</td>
        </tr>

        <tr>
            <th>Sexe</th>
            <td>{{ dancer.sexe }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ dump(dancer.roles[0]) }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_dancer_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_dancer_edit', { 'id': dancer.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}