{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des Professeurs</h1>
        <br/>
        {% for professor in professors %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_professor_show', { 'id': professor.id }) }}">
                        {{ professor.firstname ~ ' ' ~ professor.name}}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_professor_new') }}" class="btn btn-sm btn-success">
                    Ajouter un professeur
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



