{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <h1>Professeur</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ professor.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ professor.name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ professor.firstname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ professor.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ professor.password }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ professor.status }}</td>
        </tr>

        <tr>
            <th>Sexe</th>
            <td>{{ professor.sexe }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ professor.roles[0] }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_professor_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_professor_edit', { 'id': professor.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}