/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px;
}




/*footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    color: #9d9d9d;
    background-color: #222;
    padding: 20px 0 56px 0;
}

.footer .container {
    overflow: hidden;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer ul > li {
    display: inline-block;
    margin-right: 30px;
}

.footer ul > li:last-child {
    margin-right: 0;
}

.footer a {
    color: #9d9d9d;
}

.footer a:focus,
.footer a:active {
    color: #fff;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

form .control-label.required:after {
    position: absolute;
    right: 6px;
    display: inline-block;
    content: '*';
    color: red;
    font-weight: bold;
}

form .checkbox label.required:after {
    margin-left: 6px;
    display: inline-block;
    content: '*';
    color: red;
    font-weight: bold;
}
