<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Ami'danse</title>


       
            <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Bootstrap core CSS -->

        <!-- Custom styles -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css"/>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
            <link href="{{ asset('bundles/amidanse/style/style.css') }}" rel="stylesheet" />
    
    {% block stylesheets %}
    {% endblock %}

    </head>

    <body>

    <div id="wrap">

    {% include "AmiDanseBundle:Layout:navbar.html.twig" %}

    {% block content %}{% endblock %}

    
   
    </div>
    {% include "AmiDanseBundle:Layout:footer.html.twig" %}

    {% block javascripts %}
                <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('bundles/amidanse/assets/js/ie10-viewport-bug-workaround.js') }}"></script>

        <script src="{{ asset('bundles/amidanse/assets/js/login.js') }}"></script>
    {% endblock %}

    </body>



</html>
