{% extends "AmiDanseBundle::base.html.twig" %}

{% block content %}
    <div class="container">
        
        <h1>Profil </h1>
        <div class="container">

      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      
   
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Profil</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                
             
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                      	<td>Nom</td>
                        <td>{{ app.user.name }}</td>
                        
                      </tr>
                      <tr>
                        <td>Prénom</td>
                        <td>{{ app.user.firstname }}</td>
                      </tr>
                      <tr>
                        <td>Identifiant</td>
                        <td>{{ app.user.username }}</td>
                      </tr> 	
                      
                      <tr> 
                      <td>Sexe</td>

                      {% if (app.user.sexe) == true %}
                        <td>Homme</td>
                        {% else %}
                        <td>Femme</td>
                      {% endif %}
                        
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td>{{ app.user.status }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="{{ app.user.email }}">{{ app.user.email }}</a></td>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        
                         
                          <a href="{{ path('amidanse_homepage') }}"
                          class="btn btn-sm btn-default pull-right">
                              Retour à l'accueil
                            </a>

                            <a href="{{ path('amidanse_dancer_edit', { 'id': app.user.id }) }}" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning " >
                            <span class="glyphicon glyphicon-edit"></span>  Modifier </a>

                            <a href="{{ path('amidanse_dancer_opinion', { 'id': app.user.id }) }}" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary " >
                            <span class="glyphicon glyphicon-star-empty"></span> Avis </a>


                     
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>

{% endblock %}