{% extends "AmiDanseBundle::base.html.twig" %}

{% block content %}

<div class = "container">
<h1> Avis </h1>
  	{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}