{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des Styles</h1>
        <br/>
        {% for style in styles %}
        <tr>
            <td>
                <a href="{{ path('amidanse_admin_style_show', { 'id': style.id }) }}">
                    {{ style.name }}
                </a>
            </td>
        </br>
        </tr>
        {% endfor %}

            <ul class="list-inline">
                <br/>
                <li>
                    <a href="{{ path('amidanse_admin_style_new') }}" class="btn btn-sm btn-success">
                        Créer un nouveau style
                    </a>
                </li>
            </ul>
    </div>
{% endblock %}



