{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <h1>Styles de danse</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ style.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ style.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ style.description }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_style_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_style_edit', { 'id': style.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}