{% extends "AmiDanseBundle::base.html.twig" %}

{% block title %}
    Mention légales
{% endblock %}

{% block content %}
    <div class="container">
        <ul>
        	<li>
        		Raison sociale : Ami'Danse
        	</li>
        	<li>
        		Siège social : 3 Rue de Tunis, 17000 La Rochelle
        	</li>
        	<li>
        		Numéro de téléphone : 05 46 87 27 69
        	</li>
        	<li>
        		Nom du responsable : Camille Danss
        	</li>
        	<li>
        		Structure juridique : Association
        	</li>
        	<li>
        		Numéro APE : 4896R
        		Numéro Siret : 18756942586493
        	</li>
        </ul>
    </div>
{% endblock content %}