{% extends "AmiDanseBundle::base.html.twig" %}

{% block content %}

{% include "AmiDanseBundle:Layout:carousel.html.twig" %}
    
    <div class="container">
    <div class="jumbotron">
        <h2>Qui sommes nous</h2>

        <p>ParagraphLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.</p>
        <p>ParagraphLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.</p>
    </div>
   
    <div class="container">
       
            <h2>Notre Actualité</h2>
            <div class="col-sm-6 col-md-4"> 
                <div class="thumbnail"> 
                    
                    <img src="http://lorempixel.com/700/200/" alt=""> 
                    <div class="caption"> 
                        <h3>Thumbnail label</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                        <p><a href="#" class="btn btn-primary" role="button">En savoir plus</a></p> 
                    </div>                         
                </div>                     
            </div>
            <div class="col-sm-6 col-md-4"> 
                <div class="thumbnail"> 
                    <img src="http://lorempixel.com/700/200/" alt=""> 
                    <div class="caption"> 
                        <h3>Thumbnail label</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                        <p><a href="#" class="btn btn-primary" role="button">En savoir plus</a></p> 
                    </div>                         
                </div>                     
            </div>
            <div class="col-sm-6 col-md-4"> 
                <div class="thumbnail"> 
                    <img src="http://lorempixel.com/700/200/" alt=""> 
                    <div class="caption"> 
                        <h3>Thumbnail label</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                        <p><a href="#" class="btn btn-primary" role="button">En savoir plus</a></p> 
                    </div>                      
                </div>                     
            </div>
           
            <div class="embed-responsive embed-responsive-16by9"> 
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/tbbKjDjMDok"></iframe>                     
            </div>
        </div>
    </div>
  

{% endblock %}
