<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('amidanse_admin_style_index') }}">
            Gestion des Styles de danse
        </a>
    </li>
    <li>
        <a href="{{ path('amidanse_admin_type_index') }}">
            Gestion des Types de danse
        </a>
    </li>
    <li>
        <a href="{{ path('amidanse_admin_professor_index') }}">
            Gestion des Professeurs
        </a>
    </li>

    <li>
        <a href="{{ path('amidanse_admin_lesson_index') }}">
            Gestion des Cours de danse
        </a>
    </li>

    <li>
        <a href="{{ path('amidanse_admin_dancer_index') }}">
            Gestion des danseurs
        </a>
    </li>
    <li>
        <a href="{{ path('amidanse_admin_superadmin_index') }}">
            Gestion des SuperAdmins
        </a>
    </li>
    <li>
        <a href="{{ path('amidanse_admin_event_index') }}">
            Gestion des Evenements
        </a>
    </li>
    <li>
        <a href="{{ path('amidanse_admin_demonstration_index') }}">
            Gestion des Démonstrations
        </a>
    </li>
</ul>

 