{% extends "AmiDanseBundle::base.html.twig" %}

{% block title %}
    Style
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Style</h2>
                </div>

                {% for style in styles %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}

                    <div class="col-md-6">
                        <h2>{{ style.name }}</h2>
                        
                        
                        <p>
                            <a href="{{ path('amidanse_style_category', {'styleName': style.name}) }}">
                                Voir tous les types de danse
                            </a>
                        </p>
                    </div>

                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}