{% extends "AmiDanseBundle::base.html.twig" %}

{% block title %}
{{ style.name }}
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>{{ style.name }}</h2>

                <a href="{{ path('amidanse_style_index', {'styleName': style.name}) }}"
                class="btn btn-sm btn-default pull-right">
                Retour à la liste de style de danse
            </a>
        </div>
    </div>
</div>
</div>
<div class="container">

    {% for type in types %}

    {% if loop.index0 % 3 == 0 %}
    <div class="row">{% endif %}
    <div class="col-md-4 text-center">
        <div class="panel panel-default">

                {# return a random image of the selected type #}
                {#{% set img = random(type.images).file %}#}

                
            <div class="panel-body">
                <h3>{{ type.name }}</h3>
                {#<img src="{{ asset('bundles/amidanse/img/types/') ~ img }}" alt=""> #}
                <p>
                    {{ type.description }}
                </p>
            </div>
            <div class="panel-footer">
                <p>
                {#{{ dump (style.name)}}

                {{ dump (type.name)}}#}
                    <a href=" {{ path('amidanse_style_type', {'styleName': style.name, 'typeName': type.name} ) }}">
                    En savoir plus sur notre type de danse </a>

            </p>
        </div>
    </div>
</div>
{% if loop.index % 3 == 0 or loop.last %}
</div>
{% endif %}
{% endfor %}
</div>
{% endblock content %}