{% extends "AmiDanseBundle::base.html.twig" %}

{% block title %}
    {{ parent() }} 
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <a href="{{ path('amidanse_style_category', {'styleName': type.style.name}) }}"
                        class="btn btn-sm btn-default pull-right">
                        Retour à la liste de type de danse
                    </a>
                    <h2>{{ type.name }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    {{ type.description }}
                </p>
               

                {% for lessons in lessons %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                 <table class=table>
                 <thead>
                <tr> <th>durée de cours</th><th>niveau</th><th>salle</th><th>description</th><th>date</th><th>heure </th><th>nom professeur</th></tr>  
                </thead>
                <tbody>
               <tr>  <td> {{ lessons.duration }}</td>
                  <td>{{ lessons.level }}</td>
                  <td>{{ lessons.room }}</td>
                  <td>{{ lessons.description }}</td>
                  <td>{{ lessons.date|date('d/m/y') }}</td>
                  <td>{{ lessons.startTime|date('h:m:s') }}</td>
                  <td>{{ lessons.professor.name }}</td>
                </tr> 
                </tbody> 
                  </table>  

                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% endfor %}
                <div class="col-md-12">
                {% for images in images %}
                <img src="{{ asset('bundles/amidanse/image/')~images.file}}" alt="{{ images.alt }}"/>
                {% endfor%}
                
                </div>
           </div>

           </div>
           </div>

{% endblock content %}