{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des SuperAdmins</h1>
        <br/>
        {% for superadmin in superadmins %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_superadmin_show', { 'id': superadmin.id }) }}">
                        {{ superadmin.firstname ~ ' ' ~ superadmin.name ~ ' / ' ~ superadmin.email }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_superadmin_new') }}" class="btn btn-sm btn-success">
                    Ajouter un SuperAdmin
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



