{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <h1>SuperAdmin</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ superadmin.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ superadmin.name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ superadmin.firstname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ superadmin.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ superadmin.password }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ dump(superadmin.roles[0]) }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_superadmin_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_superadmin_edit', { 'id': superadmin.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}