{% extends "AmiDanseBundle::base.html.twig" %}



{% block stylesheets %}
<link href="{{ asset('bundles/amidanse/style/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
  <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

  <div class="login">

    <header class="header">
      <span class="text">Connexion</span>
      <span class="loader"></span>
    </header>
    <form action="{{ path('login_check') }}" method="post">
      
      <input class = input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="email"/>

      <input class = "input" type="password" id="password" name="_password" placeholder = "mot de passe"/>
      <br />


      <button class="btn" type="submit" value= "Connexion"></button>
    </form>

  </div>

</div>






{% endblock %}