
<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">


<p>Bonjour {{ name ~ firstName }}!
    <br/>
    <br/>
Vous êtes bien enregistré sur le magnifique site d'Ami'Danse!
    <br/>
    <br/>
Je me joins à toute l'équipe pour vous souhaiter la bienvenue parmis nous!
    <br/>
    <br/>
Rejoignez-nous sans plus tarder pour danser avec notre équipe fabuleuse!
    <br/>
    <br/><br/>
    <br/>

Camille Danss
    <br/>
Directrice d'Ami'Danse
</p>

<h2 style="font-family: 'Parisienne', cursive"> Ami'Danse </h2>

