
<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">


<p>Bonjour,
    <br/>
    <br/>
    Un nouvel utilisateur s'est enregistré sur le site, il s'agit de {{ firstName ~ name }}!

</p>

<h2 style="font-family: 'Parisienne', cursive"> Ami'Danse </h2>

