{% extends "AmiDanseBundle::base.html.twig" %}
{% block content %}
     <div class="container">
        <h2> Formulaire d'enregistrement</h2>
         {{ form_start(form) }}
         {{ form_widget(form) }}
         {{ form_end(form) }}
     </div>

{% endblock %}
