{% extends "AmiDanseBundle::base.html.twig" %}

{% block title %}
    Plan du Site
{% endblock %}

{% block content %}
    <div class="container">

    <h2>Plan du site </h2>
        <ul>
        	<li>
        		Accueil
        			<ul>
        				<li>
        					Danses
        						<ul>
        							<li>
        								Style de Danse
        								<ul>
        									<li>
        										Type de Danse
        									</li>
        								</ul>
        							</li>
        						</ul>
        				</li>
        				<li>
        					Plannings
        					<ul>
        						<li>
        						Planning de la Salle
        						</li>
        					</ul>
        				</li>
        				<li>
        					Evènements
        				</li>
        				<li>
        					Stage
        				</li>
        				<li>
        					Spectage
        				</li>
        				<li>
        					Contact
        				</li>
        				<ul>
        					<li>
        						Connexion
        					</li>
        				</ul>
        				<ul>
        					<li>
        						Enregistrement
        					</li>
        				</ul>
        			</ul>

        	</li>
        </ul>
    </div>
{% endblock content %}