{% extends "AmiDanseBundle:Admin:base.html.twig" %}
{% block content %}
    <div class="container">
        <h1>Liste des Events</h1>
        <br/>
        {% for event in events %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_event_show', { 'id': event.id }) }}">
                       {{ event.name ~ ' / ' ~(event.date|date("m/d/Y")) ~ ' / ' ~ (event.startTime|date('H:i:s')) ~ ' / ' ~ event.location }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_event_new') }}" class="btn btn-sm btn-success">
                    Ajouter un évènement
                </a>
            </li>
        </ul>
    </div>
{% endblock %}