{% extends 'AmiDanseBundle::base.html.twig' %}
{% block content %}
    <h1>Evènements</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ event.date | date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ event.startTime | date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td>{{ event.location }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_event_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_event_edit', { 'id': event.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}