{% extends "AmiDanseBundle::base.html.twig" %}
{% block content %}
    <div class="container">
        <h2> Démonstrations </h2>
    </div>
    <div class="col-md-6">
        {% for name in names %}
            {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
            <table class=table>
                <thead>
                <tr> <th>nom</th><th>lieu</th><th>description</th><th>heure</th><th>date</th></tr>
                </thead>
                <tbody>
                <tr>  <td> {{ name.name }}</td>
                    <td>{{ name.location }}</td>
                    <td>{{ name.description }}</td>
                    <td>{{ name.startTime|date('h:i')}}</td>
                    <td>{{ name.date|date('d/m/y') }}</td>

                </tr>
                </tbody>
            </table>

            {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}