{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des types</h1>
        <br/>
        {% for type in types %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_type_show', { 'id': type.id }) }}">
                       {{ type.name ~ '   ______ Style: ' ~ type.style.name }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_type_new') }}" class="btn btn-sm btn-success">
                    Créer un nouveau type
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



