{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Liste des Cours</h1>
        <br/>
        {% for lesson in lessons %}
            <tr>
                <td>
                    <a href="{{ path('amidanse_admin_lesson_show', { 'id': lesson.id }) }}">
                        {{ 'Date: ' ~ (lesson.date|date("d/m/Y")) ~ ' ___ Heure de début:  ' ~ (lesson.startTime|date('H:i')) ~ ' ___ Niveau:  ' ~ lesson.level ~ ' ___ Salle: ' ~ lesson.room }}
                    </a>
                </td>
                </br>
            </tr>
        {% endfor %}

        <ul class="list-inline">
            <br/>
            <li>
                <a href="{{ path('amidanse_admin_lesson_new') }}" class="btn btn-sm btn-success">
                    Ajouter un cours
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



