{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="container">
        <h2> Formulaire de création de Cours</h2>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}



