{% extends 'AmiDanseBundle:Admin:base.html.twig' %}
{% block content %}
    <h1>Cours</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ lesson.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ (lesson.date|date("d/m/Y")) }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ lesson.level }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ (lesson.startTime|date('H:i')) }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td>{{ lesson.duration }}</td>
        </tr>
        <tr>
            <th>Salle</th>
            <td>{{ lesson.room }}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ lesson.description }}</td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('amidanse_admin_lesson_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('amidanse_admin_lesson_edit', { 'id': lesson.id }) }}"
               class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}