<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">

Bonjour,

Vous avez reçu un nouveau message de {{  firstName ~ ' ' ~ lastName }}
<br/>
<br/>
Adresse mail: {{  email }}
<br/>
<br/>
Message: {{ message }}
<h2 style="font-family: 'Parisienne', cursive"> Ami'Danse </h2>