{% extends "AmiDanseBundle::base.html.twig" %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Contact</h2>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock content %}